<ion-view view-title="{{'about' | translate}}">

<ion-nav-buttons side="left" >
        <button class="button button-icon  ion-navicon" ng-if = "showMenu" menu-toggle="left">
        </button>
 <a href="#/app/login" class="button button-icon icon ion-ios-arrow-back" ng-if = "!showMenu"></a>

      </ion-nav-buttons>
  <ion-content>
  <br>
  <div class="text-center">
    <b > Version : 2.1.4</b>
  </div>
<br>

  <b><i>{{'login' | translate}}</i></b>
  <p>{{'infoLogin' | translate}}</p>
  <div style="text-align: center">
  <img src="img/login.jpeg" height="200px"></img>
</div>
<br>
  <b>{{'home' | translate}}</b>
  <p>{{'infoHome' | translate}}</p>
    <div style="text-align: center">
    <img src="img/home.jpeg" height="200px"></img>
    </div>

<br>
  <b>{{'newObservation' | translate}}</b>
  <p>1. {{'infoObs1' | translate}}.</p>
  <p>2. {{'infoObs2' | translate}} .</p>
  <p>3. {{'infoObs3' | translate}}</p>
  <p>4. {{'infoObs4' | translate}}.</p>
  <p>5. {{'infoObs5' | translate}}.</p>
  <ion-scroll direction="x" class="wide-as-needed padding" >
    <img  src="img/addphotos.jpeg" style="padding:2px" height="200px"/>
        <img  src="img/location.jpeg" style="padding:2px" height="200px"/>
    <img  src="img/helpIdentify.jpeg" style="padding:2px" height="200px"/>
    <img  src="img/selectlocation.jpeg" style="padding:2px" height="200px" />

    
   </ion-scroll>
  <br>

   <b>{{'browseObs' | translate}}</b>
  <p>{{'infoBrowse' | translate}}</p>
  <ion-scroll direction="x" class="wide-as-needed padding" >
    <img src="img/observationlist.jpeg" style="padding:2px" height="200px"></img>
    <img  src="img/details.jpeg" style="padding:2px" height="200px"/>
        <img  src="img/obsdetail.jpeg" style="padding:2px" height="200px"/>

    </ion-scroll>
	<br>
    <b>{{'obsNear' | translate}} </b>
  <p>{{'infoObsNear' | translate}}.</p>
    <div style="text-align: center">
    <img src="img/observationlist.jpeg" height="200px"></img>
    </div>
  
	<br>
  <b>{{'myObs' | translate}}</b>
  <p>{{'infoMyObs' | translate}}.</p>
    <div style="text-align: center">
    <img src="img/mycollection.jpeg" height="200px"></img>
    </div>

<br>

<b>{{'joinedGroups' | translate}} </b>
  <p>{{'infoJoined' | translate}}.</p>
    <div style="text-align: center">
    <img src="img/joingroups.jpeg" height="200px"></img>
    </div>
  <br>

  <b>{{'obsQueue' | translate}}</b>
  <p>{{'infoObsQueue' | translate}}.</p>
      <div style="text-align: center">
		<img src="img/queue.jpeg" height="200px"></img>
		</div>
<br>
<b>{{'setting' | translate}}</b>
  <p>{{'infoWIFI' | translate}}.</p>
  <p>{{'infoManual' | translate}}.</p>

    <div style="text-align: center">
    <img src="img/settings.jpeg" height="200px"></img>
    <br>
     </div>
    <b>{{'citation' | translate}}</b>
   
    <p>Le Bourgeois Thomas, Grard Pierre, Andrianaivo Alain Paul, Gaungoo Azaad, Ibrahim Yahaya, Randriamampianina Jean Augustin, Balasubramanian D, Marnotte Pascal,  Ramesh BR, Andrianavalona Voah, Hadji Faina, Karthik Yeruva, Ramamonjihasina Marcel, Sathish Kannan, Seechurn Arouna. 2015. WIKWIO Citizen Science - Mobile app. for Android system. European Union programme ACP S&T II, Cirad, IFP, MCIA/MSIRI, FOFIFA, CNDRS eds.</p>
    <br>
	 </ion-content> 
</ion-view>
