<ion-view view-title="Home">
<ion-nav-buttons side="left">
        <button class="button button-icon  ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
  <ion-content scroll="false">
          <!-- The content of the page scroll="false" ng-click="goNewObs()" -->
          <div class="wrapper text-center">
          <a class="button button-positive buttontop" ng-click="goNewObs()">
  New <br>Observation
</a><br>

<a class="button button-positive buttontop"  ng-click="goBrowseObs()">
  Browse <br>Observation
</a>
</div>
        </ion-content> 
</ion-view>
