<ion-view view-title="Home">
<ion-nav-buttons side="left">
        <button class="button button-icon  ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
  <ion-content >
          <!-- The content of the page -->
          <div class="wrapper ">
          <a class="button button-positive buttontop" ng-click="goNewObs()">
  New <br>Observation
</a><br>

<a class="button button-positive buttontop" href="#/app/browse" >
  Browse <br>Observation
</a>
</div>
        </ion-content> 
</ion-view>
