<ion-view view-title="Joined Groups">
  <ion-content >
  		<div id="join">
         <ion-list class="item-icon-right">
         <ion-item class="item item-button-right" ng-repeat='item in usrGrpDetails'>
         <h2>{{item.name}}</h2>
         <button class="button button-large button-balanced" id="button{{item.id}}" ng-click='join("{{item.id}}","{{item.name}}");'>Join</button>
         <i id="joinedicon{{item.id}}" ></i>
         </ion-item>
         </ion-list>
         </div>
        </ion-content> 
</ion-view>
