<ion-view >
  <div class="bar bar-header bar-positive">
  <h1 class="title">Login</h1>
</div>
  <ion-content >
  <div class="modal"></div>
  <br><br><br>
    <form ng-submit="doLogin()">
      <div class="list">
        <label class="item item-input">
          <!--span class="input-label">Username :</span-->
          <input type="text" ng-model="loginData.username" placeholder="Username">
        </label>
        <label class="item item-input">
          <!--span class="input-label">Password :</span-->
          <input id="pass" type="password" ng-model="loginData.password" placeholder="Password">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Log in</button>
        </label>
      </div>
      <div>
        <a href="#/newUser" class="alignleft">New User</a>
      
        <a href="#" class="alignright" ng-click="forgotPassword()">Forgot password ?</a>
      </div>

    </form>
    <!--br>
    <h4 align="center">Or</h4>
    <br>
    <div align="center">
      <img src="img/google.png" ng-click="googleLogin()" height="60px" width="60px">
      <img src="img/facebook.png" ng-click="facebookLogin()" height="60px" width="60px" >
      </div-->
  </ion-content>
</ion-view>


