<ion-view view-title="Observations">
<ion-nav-buttons side="left">
        <button class="button button-icon  ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
      
  <ion-content  >
  <div class="modal"></div>
         <ion-list class="item-icon-right">
         <ion-item class="item-thumbnail-left" ng-repeat='item in details track by $index' href="#/app/browsedetails/{{item.id}}">
         <img src="{{item.iconUrl}}" alt="{{item.sciName}} photo">
         <h2>{{item.scientificName}}</h2>
         <p>{{item.CommonName}}</p>
         <i class="icon ion-chevron-right "></i>
         </ion-item>

         </ion-list>
         <ion-infinite-scroll
            on-infinite="loadMore()"
            distance="1%">
          </ion-infinite-scroll>
         
        </ion-content> 
         <ion-footer-bar class="bar-positive" style="border-radius: 10px;">
      <div class="title" ng-click="enableMap()">View on Map</div>
    </ion-footer-bar>
        
</ion-view>
