<ion-view view-title="Observation queue">
<!--ion-nav-buttons side="right">
   
   <a class="button button-icon  ion-ios-gear-outline" href="#/app/settings"></a>
  </ion-nav-buttons-->
  <ion-content ng-controller="HomeController">
  <a ng-if="pendingObservation && obsStatusList" class="button button-positive" ng-click="execPendingObservation()" style="top: 4px;width: 100%;border-radius: 15px;">Submit Pending Observation</a>
  <div ng-if="obsStatusList" >
         <ion-list class="item-icon-right">
           <ion-item class="item-thumbnail-left item-button-right" ng-repeat='item in details track by $index' href="#/app/statusDetails/{{item.id}}" ng-if="!item['showGPS']">
             <img src="{{item.imgArr[0]['path']}}" alt="{{item.sciName}} photo">
             <h2>{{item.sciName}}</h2>
             <p>{{item.status}}</p>
             <i ng-if="!item['showGPS']" class="icon ion-chevron-right "></i>
             <button class="button button-large ion-ios-location "  ng-if="item['showGPS']"  style="color : red;" ng-click='locationFind("{{item.id}}");'></button>
           </ion-item>
           <ion-item class="item-thumbnail-left item-button-right" ng-repeat='item in details track by $index' style="background-color:transparent;" ng-if="item['showGPS']">
             <img src="{{item.imgArr[0]['path']}}" alt="{{item.sciName}} photo">
             <h2>{{item.sciName}}</h2>
             <p>{{item.status}}</p>
             <i ng-if="!item['showGPS']" class="icon ion-chevron-right "></i>
             <button class="button button-large ion-ios-location "  ng-if="item['showGPS']"  style="color : red;" ng-click='locationFind("{{item.id}}");'></button>
           </ion-item>
         </ion-list>
         
        </div> 
        <div ng-if="!obsStatusList" scroll="false" class="wrapper text-center">
        <p style="text-align: center;">You do not have any pending observations queued.</p>
        <a class="button button-block button-positive " style="border-radius: 7px;" ng-click="goNewObs()" >
          New Observation
        </a>
        </div>
        </ion-content>
</ion-view>