/* Empty. Add your own CSS if you like */
.wrapper{
	text-align: center;
	margin-top: 50%;
}
.buttontop{
	  margin-top: 18px;
	  border-radius: 7px;
}
.alignleft {
	float: left;
	text-decoration: none;
	color:green;
}
.alignright {
	float: right;
	text-decoration: none;
	color:green;
}
.wide-as-needed {
  overflow: scroll;
  white-space: nowrap;
}
.scroll { 
  min-width: 100%;
}
.listItem{
	border-radius: 7px;
	
}

